
<div class="container">
  <div class="row">
    <div class="col">
      <app-checkbox></app-checkbox>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-button></app-button>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-radio></app-radio>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-select></app-select>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-toggle></app-toggle>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-menu></app-menu>
    </div>
  </div>
  <div margin-top>
    <app-card></app-card>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-panel></app-panel>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-bottom-sheet></app-bottom-sheet>
    </div>
  </div>
  <div class="row" margin-top>
    <div class="col">
      <app-alert-dialog></app-alert-dialog>
    </div>
  </div>
</div>