<mat-card>
    <mat-card-content>
        <h2>Button (iOS style)</h2>
        <div padding>
            <div>
                <h3>small button</h3>
                <button mat-raised-button ios-sm-button margin>Basic</button>
                <button mat-raised-button ios-sm-button color="primary" margin>Primary</button>
                <button mat-raised-button ios-sm-button color="accent" margin>Accent</button>
                <button mat-raised-button ios-sm-button color="warn" margin>Warn</button>
                <button mat-raised-button ios-sm-button disabled margin>Disabled</button>
            </div>
            <hr>
            <div>
                <h3>default button</h3>
                <button mat-raised-button ios-button margin>Basic</button>
                <button mat-raised-button ios-button color="primary" margin>Primary</button>
                <button mat-raised-button ios-button color="accent" margin>Accent</button>
                <button mat-raised-button ios-button color="warn" margin>Warn</button>
                <button mat-raised-button ios-button disabled margin>Disabled</button>
            </div>
            <hr>
            <div>
                <h3>large button</h3>
                <button mat-raised-button ios-lg-button margin>Basic</button>
                <button mat-raised-button ios-lg-button color="primary" margin>Primary</button>
                <button mat-raised-button ios-lg-button color="accent" margin>Accent</button>
                <button mat-raised-button ios-lg-button color="warn" margin>Warn</button>
                <button mat-raised-button ios-lg-button disabled margin>Disabled</button>
            </div>
        </div>
        <mat-hint>說明：ios的button純扁平化設計。</mat-hint>
    </mat-card-content>
</mat-card>