<mat-card>
    <mat-card-content>
        <form [formGroup]="checkboxForm">
            <div formGroupName="mainQuestions">
                <h2>Checkbox (iOS style)</h2>
                <mat-checkbox formControlName="payForAll" [indeterminate]="selectedAll" (change)="checkAllChange($event)">
                    全選
                </mat-checkbox>
                <mat-checkbox formControlName="payForBook" (change)="payForChange()">書籍</mat-checkbox>
                <mat-checkbox formControlName="payForMusic" (change)="payForChange()">音樂</mat-checkbox>
                <mat-checkbox formControlName="payForMovie" (change)="payForChange()">電影</mat-checkbox>
            </div>
        </form>
        <mat-hint>說明：ios的checkbox為圓形，原本是26px，不過放在網頁上太大了，所以稍微調小一些。</mat-hint>
    </mat-card-content>
</mat-card>